---
layout: default
title: Testimonios
permalink: /testimonios/
---
<div id="page-loader"><span class="preloader-interior"></span></div>
<div id="fullpage-slider">
	{% for first-slide in site.first-slider %}
		{% capture id %}{{ first-slide.id | remove:'/' | remove:'first-slider' | downcase }}{% endcapture %}
		<div class="section">
			<div class="container">
				<div class="row align-items-center">
					{%- if first-slide.audio -%}
					<div class="col-lg-12 col-md-12 col-sm-12">
						{{ first-slide.content }}
					</div>
					<div class="col-lg-12 col-md-12 col-sm-12 text-center">
						<audio controls>
							<source src="{{ site.baseurl }}/assets/audios/{{first-slide.audio}}" type="audio/mp3">
							Tu navegador no soporta HTML5 audio.
						</audio>
						{%- if first-slide.audio2 -%}
						<audio controls>
							<source src="{{ site.baseurl }}/assets/audios/{{first-slide.audio2}}" type="audio/mp3">
							Tu navegador no soporta HTML5 audio.
						</audio>
						{%- endif -%}
					</div>
              		{%- else -%}
					<div class="col-lg-12 col-md-12 col-sm-12 text-center">
						{{ first-slide.content }}
					</div>
					{%- endif -%}
				</div>
			</div>
	    </div>
	{% endfor %}
</div>

<script type="text/javascript">
	//Inicializing sliders
$(document).ready(function() {
	  $('#fullpage-slider').fullpage({
	    verticalCentered: true,
	    navigation: true,
	    anchors: anchors,
	    menu: '#menu',
	    lazyLoading: true,
	    paddingTop: '10px',
		paddingBottom: '30px',
	    responsiveWidth: 992,
        afterResponsive: function(isResponsive){
        },
        afterRender: function(){
			window.load = function () {
			  $('#page-loader').fadeOut(500);
			}();
		}
	  });
	});

	var anchors = [
	{% for first-slide in site.first-slider %}
	  {% capture id %}{{ first-slide.id | remove:'/' | remove:'first-slider' | downcase }}{% endcapture %}
	  '{{id}}'{% if forloop.last == false %},{% endif %}
	{% endfor %}
	]
</script>
