<head>
 <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}
  <meta property="og:title" content="VivirConVIH Perú">
  <meta property="og:image" content="https://vivirconvih.org/assets/img/PERU.jpg"/>
  <!-- Twitter card -->
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="VivirConVIH Perú">
  <meta name="twitter:text:title" content="VivirConVIH Perú">
  <meta name="twitter:description" content="En Perú es imposible tener una correcta adhesión al tratamiento debido a que el estado no entrega los antiretrovirales, no llegan a tiempo, los paquetes medicinales cubren poco tiempo o, incluso, tienen la fecha de caducidad vencida.">
  <meta name="twitter:image" content="https://vivirconvih.org/assets/img/PERU.jpg">
  <meta name="twitter:url" contnet="https://peru.vivirconvih.org/">

  <link rel="stylesheet" href="https://vivirconvih.org/assets/main.css">
  <link rel="shortcut icon" type="image/png" href="/favicon.png">
  <link rel="stylesheet" href="{{ "/assets/javascript/fullpage.js/dist/jquery.fullpage.min.css" | relative_url }}">
  {%- feed_meta -%}
  <link href="https://fonts.googleapis.com/css?family=Poppins:400,600,700,800|Quicksand:300,400,500,700" rel="stylesheet" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Anonymous+Pro&display=swap" rel="stylesheet">
  <script src="{{ "/assets/javascript/bootstrap/jquery.min.js" | absolute_url }}"></script>
  <script src="{{ "/assets/javascript/bootstrap/bootstrap.bundle.min.js" | absolute_url }}"></script>
  <script src="{{ "/assets/javascript/fullpage.js/dist/jquery.fullpage.js" | absolute_url }}"></script>
  <script src="{{ "/assets/javascript/d3/d3.js" | absolute_url }}"></script>
  <script src="{{ "/assets/javascript/main.js" | absolute_url }}"></script>
  <script>
    window.graphConfig = {{ site.graph | jsonify }};
  </script>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-130129701-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    
    gtag('config', 'UA-130129701-1');
  </script>
</head>
